<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./base/head') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('./base/header') %>
    <section class="my-3">
      <div class="my-2 px-2">Active tasks</div>
      <div class="px-2 text-gray-500 text-xs">
        <%= active.length < 1 ? `your active tasks will show up here...` : '' %>
      </div>
      <div>
        <% active.forEach(function(task){ %>
        <div class="my-2 px-2 w-full">
          <div
            class="text-gray-800 bg-gray-300 flex flex-row items-center justify-between w-full rounded-[2px] p-2"
          >
            <a href="/tasks/<%- task.id %>" class=""> <%= task.title %> </a>
            <div class="flex flex-row gap-x-2 items-center">
              <div class="">
                <form action="" method="patch">
                  <input
                    class="task outline-none active:border active:border-blue-500 active:bg-blue-500"
                    type="checkbox"
                    name="<%- task.id %>"
                    id="active"
                  />
                </form>
              </div>
              <div
                data-taskId="<%- task.id %>"
                name="<%- task.id %>"
                class="deleteBtn text-red-600 active:text-red-900 font-bold cursor-pointer"
              >
                X
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </section>

    <section class="my-3">
      <div class="my-2 px-2">Completed tasks</div>
      <div>
        <div class="px-2 text-gray-500 text-xs">
          <%= completed.length < 1 ? `your completed tasks will show up here...`
          : '' %>
        </div>
        <% completed.forEach(function(task){ %>
        <div class="my-2 px-2 w-full">
          <div
            class="text-gray-800 bg-gray-300 flex flex-row items-center justify-between w-full rounded-[2px] p-2"
          >
            <a href="/tasks/<%- task.id %>" class=""> <%= task.title %> </a>
            <div class="flex flex-row gap-x-2 items-center">
              <div class="">
                <form action="" method="patch">
                  <input
                    class="task outline-none active:border active:border-blue-500 active:bg-blue-500"
                    type="checkbox"
                    name="<%- task.id %>"
                    id="completed"
                    checked
                  />
                </form>
              </div>
              <div
                data-taskId="<%- task.id %>"
                name="<%- task.id %>"
                class="deleteBtn text-red-600 active:text-red-900 font-bold cursor-pointer"
              >
                X
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </section>

    <script>
      const deleteBtns = document.querySelectorAll(".deleteBtn");
      const allTasks = document.querySelectorAll(".task");
      const form = document.getElementById("form");

      allTasks.forEach((task) => {
        task.addEventListener("click", (e) => {
          const taskId = e.target.name;
          fetch(`/tasks/${taskId}`, {
            method: "PATCH",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ completed: e.target.checked }),
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              location.reload();
            })
            .catch((err) => console.error(err));
        });
      });

      deleteBtns.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          const taskId = btn.dataset.taskid;

          fetch(`/tasks/${taskId}`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              location.reload();
            })
            .catch((err) => console.error(err));
        });
      });
    </script>
  </body>
</html>
